## ASSIGMENT

In [ ]:
 #1.write a program to convert specified days into years,weeks and days. take user input . note:ignore leap year

In [29]:
 # def convert_days(days):
days=int(input('enter the number of days:'))
years=days//365
remaining_days=days%365
week=remaining_days//7
days_left=remaining_days%7
print('conversion is ',years,':',week,':',days_left)

enter the number of days: 385

conversion is  1 : 2 : 6

In [ ]:
#2.# 2. Write a Python program to input basiPython salary of an employee and calculate its Gross salary according to following:

In [ ]:
'''Basic Salary <= 10000 : HRA = 20%, DA = 80%
Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95'''

In [68]:
basic_salary=float(input("Enter the basic salary of the employee: "))
if basic_salary<=10000:
      hra=0.2*basic_salary 
      da=0.8*basic_salary
elif basic_salary <= 20000:
      hra =0.3*basic_salary 
      da=0.9*basic_salary 
else:
     hra=0.35*basic_salary 
     da=0.95*basic_salary

gross_salary = basic_salary + hra + da 
print('gross salary:',gross_salary)

Enter the basic salary of the employee:  50000

gross salary: 115000.0

In [ ]:
'''3.Write a Python program to input electricity unit charges and calculate totalelectricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill'''

In [70]:
units = float(input("Enter the number of electricity units consumed: "))
if units <= 50:
    bill = units * 0.50 
elif units <= 150:
    bill = (50 * 0.50) + ((units - 50) * 0.75) 
elif units <= 250: 
    bill = (50 * 0.50) + (100 * 0.75) + ((units - 150) * 1.25) 
else:
    bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + ((units - 250) * 1.50) 

#additional surcharge
surcharge=bill*0.17
total_bill=bill+ surcharge
print('total electricity bill=',total_bill)

Enter the number of electricity units consumed:  4000

total electricity bill= 6844.5

In [94]:
''' 4. Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5'''

' 4. Write a Python program to print the given number patterns.\n1\n2 2\n3 3 3\n4 4 4 4\n5 5 5 5 5'

In [93]:
row=5

for i in range(1, row+ 1):
    for j in range(i):
       print(i,end=" ")
    print( )

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 5. Write a Python program to calculate product of digits of a number. Read value of n from user.

In [131]:
num=int(input('enter the number'))
product=1
while num>0:
 num=num//10
digit=num%10
product*=num

print('product of number:',product)

enter the number 100

product of number: 0

In [ ]:
# 6. Create a list of elements like: x = [45, 67, 12, Hello, 23.45, World] and perform following operations

In [185]:
 x = [45, 67, 12, 'Hello', 23.45, 'World']

In [136]:
# 1. Extract only string values from this list. 
string_values = [element for element in x if isinstance(element, str)]
print("String values:", string_values)

String values: ['Hello', 'World']

In [137]:
# 2. Create a new list with strings in upper case.
[element.upper() for element in string_values]

['HELLO', 'WORLD']

In [142]:
# 3. Find the addition of integer values.
integer=[element for element in x if isinstance(element, int)]
sum= sum(integer)
print("Sum of integer values:", sum)

Sum of integer values: 124

In [145]:
#4. Check that the value 56 is present in it or not.
56 in x

False

In [146]:
#5. Print the list in reverse order.
x[::-1]

['World', 23.45, 'Hello', 12, 67, 45]

In [186]:
#6. Delete the string ‘Hello’ from it.
if 'Hello' in x:
 x.remove('Hello')
print(x)

[45, 67, 12, 23.45, 'World']

In [187]:
#7. Insert a new value of 36 at 5th position in list.
x.insert(4,36)
print(x)

[45, 67, 12, 23.45, 36, 'World']

In [188]:
#8. Count total number of elements in list now.
len(x)

6

In [189]:
#9. Extract the values from 2nd index to 5th index.
n=x[2:6]
print(n)

[12, 23.45, 36, 'World']

In [190]:
#append [34,pune] to this list
x.append([34,'pune'])
print(x)

[45, 67, 12, 23.45, 36, 'World', [34, 'pune']]

In [183]:
#11. Delete the last element from list.

In [191]:
x.pop()

[34, 'pune']

In [2]:
#7. Create a tuple of elements with 5 float values in it and perform following operations.

In [7]:
t=(1.1,2.2,5.5,4.4,3.3)

In [8]:
#1. Print the data in sorted manner.
sorted(t)

[1.1, 2.2, 3.3, 4.4, 5.5]

In [9]:
#2. Check to see that the element 50 is present in it.
50 in t

False

In [11]:
#3. Convert this tuple in set.
float_set=set(t)
print(float_set)

{1.1, 2.2, 3.3, 4.4, 5.5}

In [12]:
'''8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and
perform following operations.
1. Access the data at key ‘k’.
2. Add a new values ‘z’: ‘zebra’
3. Replace the contents of ‘d’ as ‘dog’
4. Print all the values from this dictionary.
5. Find the length of this dictionary.'''

'8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:\n‘king’} and\nperform following operations.\n1. Access the data at key ‘k’.\n2. Add a new values ‘z’: ‘zebra’\n3. Replace the contents of ‘d’ as ‘dog’\n4. Print all the values from this dictionary.\n5. Find the length of this dictionary.'

In [14]:
d={'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':'king'}

In [19]:
k=d['k']
print(k)

king

In [21]:
d['z']='zebra'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [23]:
d['d']='dog'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [26]:
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [27]:
len(d)

6

In [29]:
#9. Write a program to find the second largest element in a list.

In [30]:
list=[56,67,98,34]

In [42]:
sorted(list)
print(list[-2])

67

In [ ]:
'''10. This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'.'''

In [45]:
m=['gold','silver','copper','iron','silica','platinum','aluminum']

In [47]:
n_metal=[m for m in m if m!='copper']
print(n_metal)

['gold', 'silver', 'iron', 'silica', 'platinum', 'aluminum']