In [1]:
#menu drive

In [2]:
#read 2 number and perform add,sub,floor div
#which one is greater based on the choice

In [10]:
num1=int(input('enter the number'))
num2=int(input('enter the number'))
print('menu:\n1.add\n2.sub\n3.floor div\n4.greater')
choice=int(input('enter your choice'))
if choice==1:
    add=num1+num2
    print('add=',add)
if choice==2:
    sub=num1-num2
    print('sub=',sub)
if choice==3:
    div=num1//num2
    print('div=',div)
if choice==1:
    add=num1+num2
    print('add=',add)
if choice==4:
    if num1>num2:
       print('greater')
    else:
        print('smaller')

enter the number 4
enter the number 2

menu:
1.add
2.sub
3.floor div
4.greater

enter your choice 2

sub= 2

### loop

In [11]:
count=1
while count<=5:
    print('nilam')
    count=count+1

nilam
nilam
nilam
nilam
nilam

In [16]:
#print no. from 5to 15
count=5
while count<=15:
    print(count,end=' ')
    count+=1
    
print('goodbye!!!')
print(count)

5 6 7 8 9 10 11 12 13 14 15 goodbye!!!
16

In [43]:
#printthe addition of no. from 1 to 10
count=1
add=0
while count<=10:
    add=add+count
    print(add,end=' ')
    count+=1

print('addition is',add)
print(count)

1 3 6 10 15 21 28 36 45 55 addition is 55
11

In [ ]:
#print the addition of all odd numbers from 1 to 20

In [ ]:
count=1
add=0
while count<=20:       
          add=add+count
          count+=2
          
print('addition is=',add)

In [53]:
#factorial

In [29]:
num=1
fact=1
while num<=5:
       fact=fact*num
       num=num+1
else: 
    print('loop end')
    print('factorial',fact)

loop end
factorial 120

In [58]:
fact=1
count=5
while count>=1:
       fact=fact*count
       count=count-1


print('factorial=',fact)

factorial= 120

In [ ]:
#find the sum of digits in a number 12345

In [40]:
num=int(input('enter the number'))
add=0
while num>0:
    digit=num%10
    num=num//10
    add=add+digit
 

print('addition of digit is',add)

enter the number 123

addition of digit is 6

In [43]:
#for loop

In [51]:
for n in 12,34,45,21,'adi',True:
    #print(n)
   # print(' ')
    print(n,end=' ')

12 34 45 21 adi True

In [54]:
for n in 1,2,3,4,5,56:
    print(n/2)

0.5
1.0
1.5
2.0
2.5
28.0

In [55]:
#range function
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [58]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
#range(start,end+1,step)

In [60]:
for n in range(1,11):
    print(n,end=' ')

1 2 3 4 5 6 7 8 9 10

In [62]:
#addition of odd number from 1 to 20
add=0
for n in range(1,21,2):
    add=add+n
print('additon',add)

additon 100

In [63]:
for n in range(1,11):
    print('nilam')

nilam
nilam
nilam
nilam
nilam
nilam
nilam
nilam
nilam
nilam

In [64]:
for n in range(10):
    print('aditya',end=' ')

aditya aditya aditya aditya aditya aditya aditya aditya aditya aditya

In [66]:
for n in 'tanvi':
  print(n)

t
a
n
v
i

In [67]:
for n in 'tanvi','ganesh':
    print(n)

tanvi
ganesh

In [68]:
l=[23,45,21,67]

In [69]:
for n in l:
    print(n)
else:
    print('loop ended')

23
45
21
67
loop ended

In [70]:
#find the factorial of a number using for loop

In [73]:
n=int(input('enter the number'))
fact=1
for n in range(1,n+1):
    fact=fact*n
print('factorial=',fact)

enter the number 5

factorial= 120

### break statement

In [78]:
for n in range(1,10):
    if n==5:
        break
    print(n)

1
2
3
4

In [79]:
for n in range(1,10):
    if n==5:
        continue
    print(n)

1
2
3
4
6
7
8
9

In [80]:
count=0
while count<10:
    print(count)
    if count==5:
        break  #continue
    count+=1

0
1
2
3
4
5

In [81]:
#print odd number from 1 to 12 using cotinue statement

In [106]:
for i in range(1,13):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11

In [108]:
pass
num=5
if num>1:
    pass

In [110]:
#nested loop
''' *
    **
    ***'''

' *\n    **\n    ***'

In [125]:
row=3
for i in range(1,row+1):
    for j in range(i):
        print('*',end=' ')
    print( )

*
* *
* * *